center{
  margin-top: 15px;
}
h6 {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
body {
  background: #333;
}
.lien, .lien2 {
  margin: 0 2.5% 0 0;
  display: flex;
  align-items: right;
  justify-content: right;
}
.navbar {
  align-content: left;
  justify-content: left;
  margin: 0 20% 0 20px;
}
a{
  position: relative;
  transition: .5s;
  font-family: Arial, Helvetica, sans-serif;
}
a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  transition: transform.5s;
  transform: scaleX(0);
  transform-origin: right;
}
a:hover {
  color: lightgreen;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
li {
  list-style: none;
}
h4 {
  color: #f1f1f1;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.text p {
  color: #f1f1f1;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 2.5% 0 2.5%;
}
.resaux h4 {
  margin: 0 0 0 2.5%;
}
h1 {
  font-size: 2rem;
  color: #f1f1f1;
}
